@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@100&display=swap');

.content{
    margin: auto;
    font-family: 'Poppins', sans-serif;
}

.banner{
    display: flex;
    background: linear-gradient(-76deg,rgb(255,166,0) 50%, white 50%);
    flex-direction: column;
}

.area{
    display: inline-flexbox;
    justify-content: space-between;
    padding-right: 10px;
}

.navigation{
    float: right;
    text-decoration: none;
    display: inline-flex;
    font-size: 900;
    color: rgb(0,0,0);
    padding: 40px;
    margin-right: 20px;
    position: absolute;
    top: 0;
    right: 0;
    justify-content: space-between;
}

.navigation a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.logo-pic{
    display: flex;
    padding: 10px;
    margin: 30px;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
}